:root {
    --fg: #000000;
    --bg: #eeeeee;
    --midlight: #444444;
    --highlight: #ee4444;
}

* {
    font-family: sans;
}

html {
    min-height: 100%;
    border-left: solid var(--highlight) 15px;
}

body {
    margin: auto;
    padding: 25px;
    max-width: 48em;
}

body, body * {
    color: var(--fg);
    background-color: var(--bg);
}

a:visited {
    color: var(--midlight);
}

a {
    color: var(--highlight);
}
